[*.cs]

##### Temporal additions ######

# Please keep in alphabetical order by field.

# Don't need to mark smoke test classes sealed
dotnet_diagnostic.CA1852.severity = none

# ConfigureAwait not needed in tests
dotnet_diagnostic.CA2007.severity = none

###############################