[*.cs]

##### Temporal additions ######

# Please keep in alphabetical order by field.

# Do not need docs in test project
dotnet_diagnostic.CS1591.severity = none

# Do not need docs in test project
dotnet_diagnostic.SA1600.severity = none

# Do not need to suffix tests with "Async"
dotnet_diagnostic.VSTHRD200.severity = none

###############################