[*.cs]

##### Temporal additions ######

# Please keep in alphabetical order by field.

# Generated code doesn't set default DLL search path
dotnet_diagnostic.CA5392.severity = none

generated_code = true

###############################